<!DOCTYPE html>
<html lang="en">
	<div th:fragment="banner" class="well">
		<th:block th:if="${serverId} == 'home'">
			<p>
				This is the home for the FHIR Questionnaire server.
				This server
				(and the testing application you are currently using to access it)
				is entirely built using
				<a href="https://github.com/jamesagnew/hapi-fhir">HAPI-FHIR</a>, 
				a 100% open-source Java implementation of the
				<a href="http://hl7.org/implement/standards/fhir/">FHIR specification</a>.
			</p>
			<p>
				Here are some things you might wish to try:
			</p>
			<ul>
				<li>
					View a
					<!-- <a href="http://fhirtest.uhn.ca/search?serverId=home&amp;encoding=json&amp;pretty=true&amp;resource=Patient&amp;param.0.type=string&amp;param.0.name=_id&amp;param.0.0=&amp;resource-search-limit=">list of patients</a> -->
					<a href="/search?serverId=home&amp;encoding=json&amp;pretty=true&amp;resource=Questionnaire&amp;param.0.type=string&amp;param.0.name=_id&amp;param.0.0=&amp;resource-search-limit=">list of questionnaires</a>
					on this server.
				</li>
				<li>
					Construct a
					<a href="/resource?serverId=home&amp;encoding=json&amp;pretty=true&amp;resource=Questionnaire">search query</a>
					on this server.
				</li>
				<li>
					Access a 
					<a href="http://fhirtest.uhn.ca/home?serverId=furore">different server</a>
					(use the <b>Server</b> menu at the top of the page to see a list of public FHIR servers)
				</li>
			</ul>
		</th:block>
		<th:block th:if="${serverId} != 'home'">
			<p>
				You are accessing the public FHIR server
				<b th:text="${baseName}"/>. This server is hosted elsewhere on the internet
				but is being accessed using the HAPI client implementation.
			</p>
		</th:block>
		<p>
			<b style="color: red;">
				<span class="glyphicon glyphicon-warning-sign"/> 
				This is not a production server!
			</b> 
			Do not store any information here that contains personal health information
			or any other confidential information. This server will be regularly purged 
			and reloaded with fixed test data. 
		</p>
	</div>
</html>
